body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #0a0a0a;
    color: rgb(255, 255, 255);

    
    background: linear-gradient(270deg,#0a0a0a,#111,#0a0a0a);
    background-size: 400% 400%;
    animation: bgMove 15s ease infinite;
}


@keyframes bgMove {
  0% { background-position:0% 50%; }
  50% { background-position:100% 50%; }
  100% { background-position:0% 50%; }
}


.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #11111100;
}


.logo{
    font-size:24px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover{
    color:#fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #fff;
}


.container{
    text-align:center;
    margin-top:120px;

    animation: fadeUp 1s ease forwards;
}


.links a{
    display:block;
    text-decoration:none;
    background:linear-gradient(45deg, #ffffff, #e6e6e6);
    color:rgb(0, 0, 0);
    padding:15px;
    margin:12px auto;
    width:220px;
    border-radius:12px;

    transition: all 0.35s ease;
}


.links a:hover{
    transform:scale(1.08) translateY(-3px);
    box-shadow:0 0 25px rgba(255,255,255,0.4);
}


.links a:hover i{
    transform:translateX(4px);
}

.links a i{
    font-size:20px;
    transition:0.3s;
}

.icon{
    width:22px;
    height:22px;
}


.descricao{
    opacity:0.9;
    margin-bottom:30px;
    font-size:18px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5;
    text-shadow:0 0 10px rgba(56,189,248,0.3);
}

h2{
    font-size:32px;
    margin-bottom:10px;
    background:linear-gradient(45deg,#ffffff,#cfcfcf);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}


.sobre{
    margin-top:50px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    padding:28px;
    background:#0a0a0a;
    border-radius:14px;

    animation: fadeUp 1.2s ease forwards, glowPulse 4s ease-in-out infinite;
}


@keyframes glowPulse {
  0% { box-shadow:0 0 15px rgba(255,255,255,0.15); }
  50% { box-shadow:0 0 35px rgba(255,255,255,0.35); }
  100% { box-shadow:0 0 15px rgba(255,255,255,0.15); }
}

.sobre h3{
    margin-bottom:10px;
    color:#ffffff;
}

.sobre p{
    opacity:0.9;
    line-height:1.6;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.fade-up {
  animation: fadeUp 0.8s ease forwards;
}

.hide{
    opacity:0;
    transform:translateY(20px);
    pointer-events:none;
}

@keyframes slideTopBar {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 200px));
  }
  100% {
    transform: translateX(0);
  }
}

.logo {
  position: relative;
  animation: slideTopBar 50s linear infinite;
}

